<div class="body text-center">
  <div class="container">

    <div class="header">
      <a href="/home"><img src="assets/images/logo.png" /></a>
      <h1 class="title-page"><a href="/home"><span>games</span> catalog</a></h1>
    </div>

    <router-outlet></router-outlet>

    

  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col text-left">
        <div class="row footer-left">
          <div class="col">
            <div class="row footer-left-small">
              <div class="col"><a href="#"><img src="assets/images/footer-left-1.PNG" width="35" /></a></div>
              <div class="col"><a href="#">Help Topics</a></div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="col">
            <div class="row footer-left-small">
              <div class="col"><a href="#"><img src="assets/images/footer-left-2.PNG" width="35" /></a></div>
              <div class="col"><a href="#">Privacy Policy</a></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col text-right">
        <div class="text-center footer-right">
          <a href="/home"><img src="assets/images/logo-icon.png" width="20" /></a>
          <p>PlayIT 2018 All Rights Reserved</p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>